* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  max-width: 1920px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Kdam Thmor Pro", sans-serif;
}

p {
  font-family: "Lato", sans-serif;
}

html {
  background-color: #EDF6F9;
  margin: 0 auto;
}

.general-spacing {
  height: 60px;
  width: 100%;
}

@keyframes menuExpand {
  0% {
    margin: 0;
    width: 35px;
    height: 2px;
    background: #000;
    position: fixed;
    top: 25px;
    right: 18px;
  }
  50% {
    top: 0;
    right: 0;
    width: 35px;
    height: 2px;
    z-index: 1;
    border-radius: 0 0 0 30px;
  }
  100% {
    height: 350px;
    width: 230px;
    background: rgba(0, 0, 0, 0.8784313725);
  }
}
@keyframes menuShrink {
  0% {
    position: fixed;
    top: 0;
    right: 0;
    height: 350px;
    width: 230px;
    margin: 0;
    z-index: 1;
    border-radius: 0 0 0 30px;
    background: rgba(0, 0, 0, 0.8784313725);
  }
  50% {
    position: fixed;
    top: 0;
    right: 0;
    width: 35px;
    height: 2px;
    z-index: 1;
    border-radius: 0 0 0 30px;
  }
  100% {
    top: 25px;
    right: 18px;
    width: 35px;
    height: 2px;
    background: #000;
    margin: 5px;
  }
}
.menu {
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  height: 60px;
  background: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5215686275);
}

.menu-logo {
  display: flex;
  height: 60px;
  margin: 0 30px;
  align-items: center;
}

.menu-links {
  display: flex;
  justify-content: flex-end;
}
.menu-links a {
  text-decoration: none;
  margin: 0 20px;
  height: 60px;
  text-align: center;
}
.menu-links a h2 {
  position: relative;
  font-family: "Kdam Thmor Pro", sans-serif;
  line-height: 60px;
  color: #006ad1;
}

.menu-links a h2:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background: #006D77;
  margin: 0 auto;
  left: 0;
  bottom: 10px;
  transition: all 0.3s ease-in-out;
  transform: scaleX(0);
}

.menu-links a:hover h2:after {
  transform: scaleX(1);
}

.menu-mobile {
  display: none;
}

@media (max-width: 800px) {
  .menu-links {
    flex-direction: column;
    position: fixed;
    right: 20px;
    top: 60px;
    z-index: 5;
    transition: all 0.2s ease-in-out;
  }
  .menu-links a {
    height: 50px;
  }

  .menu-mobile {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    margin: 0 10px;
    transition: all 0.5s ease-in-out;
    z-index: 2;
  }

  .menu-click {
    cursor: pointer;
    width: 60px;
    height: 60px;
    position: fixed;
    z-index: 5;
  }

  .menu-mobile-block-1, .menu-mobile-block-2, .menu-mobile-block-3 {
    width: 35px;
    height: 2px;
    background: #000;
    margin: 5px;
    transition: all 0.5s ease-in-out;
  }

  .menu-mobile-open .menu-mobile-block-1 {
    background: #fff;
    z-index: 3;
    margin-right: 25px;
    transform: rotate(-45deg) translateX(8px);
    transform-origin: top right;
  }
  .menu-mobile-open .menu-mobile-block-2 {
    animation: menuExpand 0.5s forwards ease-in-out;
    position: fixed;
    top: 0;
    right: 0;
    height: 350px;
    width: 230px;
    margin: 0;
    z-index: 1;
    border-radius: 0 0 0 30px;
  }
  .menu-mobile-open .menu-mobile-block-3 {
    background: #fff;
    z-index: 3;
    margin-right: 25px;
    transform: rotate(45deg) translateX(8px);
    transform-origin: bottom right;
  }

  .menu-mobile-close .menu-mobile-block-2 {
    animation: menuShrink 1s forwards ease-in-out;
  }

  .display-none {
    display: none;
  }

  .opacity-0 {
    opacity: 0;
  }

  .opacity-1 {
    opacity: 1;
  }
}
@media (max-height: 400px) {
  .menu-links a {
    height: 50px;
  }

  .menu-mobile-open .menu-mobile-block-2 {
    height: 350px;
  }
}
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 60px;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer h4 {
  color: #fff;
}

.home-banner {
  position: relative;
  min-height: 250px;
  height: 60vh;
  max-height: 250px;
  overflow: hidden;
}

.home-background {
  margin: -10px 0 0 0;
  width: 100%;
  height: 300px;
  background-position: 0% 40%;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.home-banner-box {
  width: 50vw;
  min-width: 350px;
  height: 150px;
  background-color: rgba(255, 255, 255, 0.4862745098);
  border-radius: 20px;
  border: double #006ad1;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
}

.home-banner-text {
  font-family: "Kdam Thmor Pro", sans-serif;
  font-size: 50px;
  text-align: center;
  margin: 0 30px;
}

.home-presentation {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
}

.home-text {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 600px;
  width: 100%;
  min-width: 320px;
}
.home-text h1 {
  padding: 0 30px;
}
.home-text p {
  padding: 30px;
}

.home-img {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  padding: 20px;
}

.home-img-bg {
  background-color: #A7C4DC;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='300' height='250' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.04'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");
  position: absolute;
  top: 2.5%;
  width: 95%;
  height: 95%;
  z-index: -1;
  border-radius: 40px;
}

#interpretation {
  width: 100%;
  min-height: calc(100vh - 75px);
}

.interpretation-title {
  margin: 30px 0 60px 0;
  display: block;
  text-align: center;
  font-size: 30px;
}

.interpretation-box {
  margin: 20px 20px 0 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, auto));
}

.interpretation-text {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 600px;
  width: 100%;
  min-width: 320px;
}
.interpretation-text h1 {
  padding: 0 30px;
}
.interpretation-text p {
  padding: 30px;
}

.interpretation-img {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  position: relative;
  padding: 20px;
}

.interpretation-img-bg {
  background-color: #A7C4DC;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='300' height='250' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.04'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");
  position: absolute;
  top: 2.5%;
  width: 95%;
  height: 95%;
  z-index: -1;
  border-radius: 40px;
}

@media (max-width: 680px) {
  .interpretation-title {
    margin: 10px 0 60px 0;
  }
}
#translation {
  width: 100%;
  min-height: calc(100vh - 75px);
}

.translation-title {
  margin: 30px 0 60px 0;
  display: block;
  text-align: center;
  font-size: 30px;
}

.translation-box {
  margin: 20px 20px 0 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, auto));
}

.translation-text {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 600px;
  width: 100%;
  min-width: 320px;
}
.translation-text h1 {
  padding: 0 30px;
}
.translation-text p {
  padding: 30px;
}

.translation-img {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  position: relative;
  padding: 20px;
}

.translation-img-bg {
  background-color: #A7C4DC;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='300' height='250' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.04'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");
  position: absolute;
  top: 2.5%;
  width: 95%;
  height: 95%;
  z-index: -1;
  border-radius: 40px;
}

@media (max-width: 680px) {
  .translation-title {
    margin: 10px 0 60px 0;
  }
}
#class {
  width: 100%;
  min-height: calc(100vh - 75px);
}

.class-title {
  margin: 30px 0 60px 0;
  display: block;
  text-align: center;
  font-size: 30px;
}

.class-box {
  margin: 20px 20px 0 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, auto));
}

.class-text {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 600px;
  width: 100%;
  min-width: 320px;
}
.class-text h1 {
  padding: 0 30px;
}
.class-text p {
  padding: 30px;
}

.class-img {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  position: relative;
  padding: 20px;
}

.class-img-bg {
  background-color: #A7C4DC;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='300' height='250' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.04'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");
  position: absolute;
  top: 2.5%;
  width: 95%;
  height: 95%;
  z-index: -1;
  border-radius: 40px;
}

@media (max-width: 680px) {
  .class-title {
    margin: 10px 0 60px 0;
  }
}
#contact {
  margin-top: 80px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #A7C4DC;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='300' height='250' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.04'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");
}

.contact-title {
  display: block;
  text-align: center;
  font-size: 30px;
  margin: 0 0 30px 0;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  max-width: 600px;
  margin: 0 0 50px 0;
  background-color: rgba(255, 255, 255, 0.4862745098);
  border-radius: 20px;
  padding: 10px;
}
.contact-info h1 {
  margin: 10px;
}
.contact-info p {
  margin: 10px;
}

@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(-360deg);
  }
}
@keyframes head1 {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(0deg);
  }
  23% {
    transform: rotate(-10deg);
  }
  26% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(-10deg);
  }
  36% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(0deg);
  }
  63% {
    transform: rotate(-10deg);
  }
  66% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes head2 {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(0deg);
  }
  23% {
    transform: rotate(-10deg);
  }
  26% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(0deg);
  }
  63% {
    transform: rotate(-10deg);
  }
  66% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes head3 {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(0deg);
  }
  23% {
    transform: rotate(10deg);
  }
  26% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(0deg);
  }
  63% {
    transform: rotate(10deg);
  }
  66% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes lines {
  0% {
    transform: translate(-225.62197px, -178px) scaleX(1);
  }
  20% {
    transform: translate(-225.62197px, -178px) scaleX(0.6);
  }
  40% {
    transform: translate(-225.62197px, -178px) scaleX(1);
  }
  60% {
    transform: translate(-225.62197px, -178px) scaleX(0.8);
  }
  80% {
    transform: translate(-225.62197px, -178px) scaleX(0.5);
  }
  100% {
    transform: translate(-225.62197px, -178px) scaleX(1);
  }
}
@keyframes headwork1 {
  0% {
    transform: rotate(0);
  }
  6% {
    transform: rotate(0);
  }
  8% {
    transform: rotate(10deg);
  }
  10% {
    transform: rotate(0);
  }
  12% {
    transform: rotate(10deg);
  }
  14% {
    transform: rotate(0);
  }
  86% {
    transform: rotate(0);
  }
}
@keyframes headwork2 {
  18% {
    transform: rotate(0);
  }
  20% {
    transform: rotate(10deg);
  }
  22% {
    transform: rotate(0);
  }
  24% {
    transform: rotate(10deg);
  }
  26% {
    transform: rotate(0);
  }
  66% {
    transform: rotate(0);
  }
  68% {
    transform: rotate(10deg);
  }
  70% {
    transform: rotate(0);
  }
  72% {
    transform: rotate(10deg);
  }
  74% {
    transform: rotate(0);
  }
}
@keyframes headwork3 {
  54% {
    transform: rotate(0);
  }
  56% {
    transform: rotate(-10deg);
  }
  58% {
    transform: rotate(0);
  }
  60% {
    transform: rotate(-10deg);
  }
  62% {
    transform: rotate(0);
  }
}
@keyframes cardwork1 {
  0% {
    fill: #fff;
  }
  10% {
    fill: #fff;
  }
  16% {
    fill: #83C5BE;
  }
  84% {
    fill: #83C5BE;
  }
  90% {
    fill: #fff;
  }
}
@keyframes cardwork2 {
  0% {
    fill: #fff;
  }
  22% {
    fill: #fff;
  }
  28% {
    fill: #83C5BE;
  }
  70% {
    fill: #83C5BE;
  }
  76% {
    fill: #fff;
  }
}
@keyframes cardwork3 {
  0% {
    fill: #fff;
  }
  34% {
    fill: #fff;
  }
  40% {
    fill: #83C5BE;
  }
  58% {
    fill: #83C5BE;
  }
  64% {
    fill: #fff;
  }
}
@keyframes convertline {
  0% {
    transform: translate(-284.259px, -153.03px) rotateX(0);
  }
  20% {
    transform: translate(-284.259px, -153.03px) rotateX(0);
  }
  24% {
    transform: translate(-284.259px, -153.03px) rotateX(90deg);
    fill: #6c63ff;
  }
  26% {
    transform: translate(-284.259px, -153.03px) rotateX(90deg);
    fill: #83C5BE;
  }
  30% {
    transform: translate(-284.259px, -153.03px) rotateX(0);
  }
  70% {
    transform: translate(-284.259px, -153.03px) rotateX(0);
  }
  74% {
    transform: translate(-284.259px, -153.03px) rotateX(90deg);
    fill: #83C5BE;
  }
  76% {
    transform: translate(-284.259px, -153.03px) rotateX(90deg);
    fill: #6c63ff;
  }
  80% {
    transform: translate(-284.259px, -153.03px) rotateX(0);
  }
  100% {
    transform: translate(-284.259px, -153.03px) rotateX(0);
  }
}
@keyframes callheadmain {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(0deg);
  }
  35% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  65% {
    transform: rotate(-10deg);
  }
  80% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes callhead {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(0, 0);
  }
  35% {
    transform: translate(0, 3px);
  }
  50% {
    transform: translate(0, 0);
  }
  65% {
    transform: translate(0, 3px);
  }
  80% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
.logo-animation {
  animation: rotate 10s infinite linear;
  transform-origin: center;
  transform-box: fill-box;
}

.logo {
  overflow: visible;
  height: 50px;
  width: 60px;
}

.live, .work, .convert, .call {
  padding: 20px;
  min-width: 320px;
  max-width: 700px;
  width: 100%;
  height: 50vw;
  max-height: 540px;
  min-height: 250px;
}

.live-head1 {
  animation: head1 3s infinite linear;
  transform-origin: bottom;
  transform-box: fill-box;
}

.live-head2 {
  animation: head2 7s infinite linear;
  transform-origin: bottom;
  transform-box: fill-box;
}

.live-line1 {
  animation: lines 10s infinite linear;
  transform-origin: left;
  transform-box: fill-box;
}

.live-line2 {
  animation: lines 8s infinite linear;
  transform-origin: left;
  transform-box: fill-box;
}

.live-line3 {
  animation: lines 12s infinite linear;
  transform-origin: left;
  transform-box: fill-box;
}

.live-line4 {
  animation: lines 6s infinite linear;
  transform-origin: left;
  transform-box: fill-box;
}

.head-work1 {
  animation: headwork1 10s infinite linear;
  transform-origin: bottom;
  transform-box: fill-box;
}

.head-work2 {
  animation: headwork2 10s infinite linear;
  transform-origin: bottom;
  transform-box: fill-box;
}

.head-work3 {
  animation: headwork3 10s infinite linear;
  transform-origin: bottom;
  transform-box: fill-box;
}

.card-work1 {
  animation: cardwork1 10s infinite linear;
}

.card-work2 {
  animation: cardwork2 10s infinite linear;
}

.card-work3 {
  animation: cardwork3 10s infinite linear;
}

.convert-head1 {
  animation: head1 5s infinite linear;
  transform-origin: bottom;
  transform-box: fill-box;
}

.convert-head2 {
  animation: head3 4s infinite linear;
  transform-origin: bottom;
  transform-box: fill-box;
}

.convert-line1 {
  animation: convertline 6s infinite linear;
  transform-origin: center;
  transform-box: fill-box;
  transform: translate(-284.259px, -153.03px);
}

.convert-line2 {
  animation: convertline 6s infinite 0.3s linear;
  transform-origin: center;
  transform-box: fill-box;
  transform: translate(-284.259px, -153.03px);
}

.convert-line3 {
  animation: convertline 6s infinite 0.6s linear;
  transform-origin: center;
  transform-box: fill-box;
  transform: translate(-284.259px, -153.03px);
}

.convert-line4 {
  animation: convertline 6s infinite 0.9s linear;
  transform-origin: center;
  transform-box: fill-box;
  transform: translate(-284.259px, -153.03px);
}

.convert-line5 {
  animation: convertline 6s infinite 1.2s linear;
  transform-origin: center;
  transform-box: fill-box;
  transform: translate(-284.259px, -153.03px);
}

.call-head1 {
  animation: callheadmain 2s infinite linear;
  transform-origin: bottom;
  transform-box: fill-box;
}

.call-head2 {
  animation: callhead 2s infinite linear;
  transform-origin: bottom;
  transform-box: fill-box;
}

.call-head3 {
  animation: callhead 1.5s infinite linear;
  transform-origin: bottom;
  transform-box: fill-box;
}

/*# sourceMappingURL=index.css.map */
